/* Texts */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');
h1, h3, h4{
    font-family: 'Bebas Neue', cursive;
    color: var(--light3);
}
h1{
    font-size: 70px;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 50px;
}
h4{
    font-size: 30px;
}
h5{
    font-size: 16px;
}
h2, h5, p, ul{
    font-family: 'Poppins', sans-serif;
    color: var(--light3);
}

/* Root */

:root{
    --darker: #0b1d28;
    --dark: #1B4965;
    --light0: #5FA8D3;
    --light1: #62B6CB;
    --light2: #CAE9FF;
    --light3: #FDFDFE;
    --shadow: 0px 1px 2px rgba(104, 104, 104, 0.8);
}

/* Background */

body{
    background:
        linear-gradient(#CAE9FF , transparent),
        linear-gradient(to top left, #FDFDFE, transparent),
        linear-gradient(to top right, #5FA8D3, transparent);
    background-blend-mode: color;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

/* Navigation Bar */

.main-nav{
    background: var(--dark);
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.logo{
    display: grid;
    max-width: 300px;
    justify-self: start;
    margin-left: 20px;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
}
.logo h3{
    margin: 0px;
    text-align: center;
    text-shadow: var(--shadow);
}
.logo span{
    font-size: 50px;
    color: var(--light3);
    text-align: center;
    text-shadow: var(--shadow);
}
.nav-bar{
    display: grid;
    max-width: 500px;
    grid-column-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: end;
    margin-right: 20px;
}
.nav-bar ul{
    padding: 0px;
    text-align: center;
    padding-top: 10%;
    text-shadow: var(--shadow);
}

/* Header */

.showcase{
    display: grid;
    background: url(./Images/6.jpg);
    background-size: cover;
    background-position: center;
    background-color: var(--dark);
    background-blend-mode: screen;
    box-shadow: var(--shadow);
    height: 800px;
}
.showcase h1{
    margin: 0px;
    padding: 0px;
    text-align: center;
    text-shadow: var(--shadow);
    background-color: rgba(0, 0, 0, 0.25);
    max-height: 100px;
    font-size: 100px;
    align-self: end;
    padding-top: 100px;
}
.showcase p{
    margin: 0px;
    text-align: center;
    text-shadow: var(--shadow);
    background-color: rgba(0, 0, 0, 0.25);
    max-height: 50px;
    align-self: start;
    padding-top: 10px;
    padding-bottom: 100px;
}

/* Body */

.body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.section-part{
    background-color: var(--dark);
    width: 200px;
    padding: 15px;
}
.section-part img{
    box-shadow: var(--shadow);
    align-self: center;
    width: 100%;
}
.section-part h4{
    text-shadow: var(--shadow);
    margin: 0px;
}
.section-part p{
    text-shadow: var(--shadow);
}
.box1{
    background: var(--light3);
    width: 100%;
}
.box1 p{
    color: var(--dark);
}
.box2{
    background: var(--light3);
    width: 100%;
}
.box2 p{
    color: var(--dark);
}
/* Footer */

footer{
    background-color: var(--darker);
    height: 100px;
}
.contact-details{
    text-align: center;
}